#main h3 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}
/*#main p {
    margin: 5%;
    align-items: center;
    justify-content: center;
}*/
#main p input{
    box-sizing: border-box;
    border-radius: 4px;
}
#main p input:focus {
    background-color: lightblue;
}
.block {
    background: white;
    border-radius: 15%;
    margin: 4%;
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #446381;
    color: white;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
body {
    background-color: #4EC5D6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
